<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Vstore" lan="" version="1.0" date="2014-05-29" compatibility="2.0" installRequired="true" >
	<author name="e107 Inc" url="http://e107.org" />
	<summary lan="">Simple Virtual Store for e107</summary>
	<description lan="">Shopping cart system for e107 v2.</description>
	<keywords>
		<word>ecommerce</word>
		<word>shopping</word>
	</keywords>
	<category>content</category>
	<copyright>GPL</copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="images/vstore_32.png" iconSmall="images/vstore_16.png" icon128="images/vstore_128.png" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	<siteLinks>
		<link url="{e_PLUGIN}vstore/vstore.php" sef='index' perm="admin" >LAN_PLUGIN_VSTORE_NAME</link>
		<link url="#"  description="Shopping Cart" perm="everyone" function="vstore::storeCart" >LAN_PLUGIN_VSTORE_CARTICON</link>
	</siteLinks>
	<pluginPrefs>
		<pref name='currency'>USD</pref>
		<pref name='shipping'>0</pref>
		<pref name='admin_items_perpage'>10</pref>
		<pref name='admin_categories_perpage'>10</pref>
	</pluginPrefs>
	<mediaCategories>
		<category type="file"  perm="nobody">Vstore Digital Purchase</category>
		<category type="file"  perm="nobody">Vstore Attachments</category>
		<category type="image" perm="nobody">Vstore Images</category>
	</mediaCategories>
</e107Plugin>