
.ratings                                    { color: #D17581; padding-left: 10px; padding-right: 10px; }

.adminlist .item-inventory                  { font-weight: bold; }

.vstore-product-list .thumbnail             { height:490px }
.vstore-product-list .item-description      { height:110px; overflow:hidden; text-align:left; margin-bottom:15px }
.vstore-product-list .item-price            { font-size: 1.3em; padding-top: 2px; display: block; white-space:nowrap }


.vstore-gateway-list .btn                   { padding-top:30px; padding-bottom:20px }

.vstore-product-view .item-price h3         { margin-top:5px; }
.vstore-product-view p                      { margin-bottom:20px; }
.vstore-product-view .btn-out-of-stock      { display: none}
.vstore-product-view .thumbnails a:focus    { outline:1px solid silver }

#vstore-cart-icon                           { }
#vstore-cart-icon.active                    { color: white }
#vstore-cart-dropdown                       { width:100%; min-width:280px; padding:10px;}
#vstore-cart-dropdown-empty                 { margin:0 }

.vstore-category-list  > .col-md-4:nth-child(3n+1) {  clear:both; }
.vstore-category-list .thumbnail .caption   { min-height:80px }

.vstore-zoom::after                         { content: ''; display: block; width: 33px; height: 33px; position: absolute; top: 0; right: 0; background: url(https://raw.github.com/jackmoore/zoom/master/icon.png); }

.cart h3, .cart h5                          { color: black; }